﻿@model LearnTogether.ViewModels.AuthLogin
@{
    ViewBag.Title = "Login";
}
<div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    @using (Html.BeginForm())
    {
        <div class="form-signin">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
         
            @Html.EditorFor(x => x.Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Username" } })
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })

            @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>

            <button type="submit" class="btn btn-lg btn-primary btn-block btn-signin" value="Login">Login</button>

        </div>
               
    }
    <a href="#" class="forgot-password">
        Forgot the password?
    </a>
    </div>
