﻿@model LearnTogether.Infrastructure.PageData<LearnTogether.Models.Post>
<div class="tags">
    <ul class="list-unstyled">
        @if (Model.HasPreviousPage)
        {
            <li class="pull-left">
                <!-- same action with additional parameter-->
                <a href="@Url.Action(null, new { page = Model.PreviousPage})" class="btn btn-primary">
                    <i class="glyphicon glyphicon-chevron-left"></i>Newer
                </a>
            </li>
        }
        @if (Model.HasNextPage)
        {
            <li class="pull-right">
                <a href="@Url.Action(null, new { page = Model.NextPage})" class="btn btn-primary">
                    Older<i class="glyphicon glyphicon-chevron-right"></i>
                </a>
            </li>
        }
    </ul>   
</div>   

<br/>
@foreach (var post in Model)
{
    @Html.Partial("_Post", post)
} 
<ul class="list-unstyled">
    @if (Model.HasPreviousPage)
    {
        <li class="pull-left">
            <!-- same action with additional parameter-->
            <a href="@Url.Action(null, new { page = Model.PreviousPage})" class="btn btn-primary">
                <i class="glyphicon glyphicon-chevron-left"></i>Newer
            </a>
        </li>
    }
    @if (Model.HasNextPage)
    {
        <li class="pull-right">
            <a href="@Url.Action(null, new { page = Model.NextPage})" class="btn btn-primary">
                Older<i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        </li>
    }
</ul>