﻿@model LearnTogether.ViewModels.PostsIndex
@{
    ViewBag.Title = "Home Page";
}

@if ((User.IsInRole("admin")) || (User.IsInRole("moderator")) || (User.IsInRole("user")))
{
    @Html.Partial("_Posts", Model.Posts)
}
else
{
    <div>
        <h1>Learn Together</h1>
        <p>
            Lorem ipsum dolor sit amet, ut mei mundi sonet tacimates, est quem blandit sapientem ad, dicunt labores patrioque per ut. Aliquid iudicabit temporibus no est, vidit dicta eam ex. Graece molestiae torquatos ne vix, ad eam etiam nostrud. Oratio graeco possim duo te, quo alii facer ea. No has viris everti option.

            Hinc simul repudiandae ad has. Eu putant tamquam aliquando vel, diam omnium latine te usu, in mei consequat necessitatibus. Causae consequuntur ad per, mea ad corpora eligendi. Nec dicat disputationi necessitatibus no, cu nibh molestiae adipiscing vis.

            In quo saepe munere suscipiantur, cetero feugiat erroribus mea et, ius tollit noster disputationi in. Eum ne regione meliore, vim eu eleifend scriptorem, modo populo rationibus et eos. Vivendo repudiare cu ius. Civibus deterruisset usu no, id verear aperiri admodum eum. Quod animal option sed cu.

            Ea qui primis dolorum, errem efficiantur mel ei. Pri modo nusquam verterem at, enim suavitate no eam, velit oblique an est. Nisl wisi dicunt et sea, sea at augue recteque. Nam eu sonet repudiare, te vocibus consequat quo. Ut his stet suavitate. Ea has efficiendi eloquentiam, est utamur voluptua eu.

            Ei fuisset omittam scribentur has, cum ut partiendo argumentum. Ea vel esse facete probatus, sea no facer detraxit singulis, sint scripta ut sed. Persius epicuri qui ei. No sit viris quando graeco, lobortis expetendis sit ex. Eos ne quidam tacimates assentior. Ex elitr deserunt est, ludus quando instructior ea nec, mei elit nulla praesent ne.
        </p>
    </div>
}