﻿@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - LearnTogether</title>
    @Styles.Render("~/styles")
</head>
<body>

    <div class="site-header">
        <header class="container">
            <h1 class="page-header">
                <a href="@Url.RouteUrl("Home")">
                    Learn Together
                </a>
                <small>Sharing is caring!!!</small>
            </h1>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="@Url.RouteUrl("Home")"> <span class="glyphicon glyphicon-home"></span>  Home</a></li>

                            <li><a href="#">Page 1</a></li>
                            <li><a href="#">Page 2</a></li>
                            <li><a> <span class="glyphicon glyphicon-envelope"></span>  Contact Us</a></li>

                            @if (User.IsInRole("admin"))
                            {
                                <li>
                                    <a href="@Url.Action("index", "Posts", new {area = "admin"})"><span class="glyphicon glyphicon-user"></span> Admin View</a>
                                </li>
                            }
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="@Url.RouteUrl("logout")"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="@Url.RouteUrl("Home")"> <span class="glyphicon glyphicon-home"></span>   Home</a></li>

                            <li><a href="#">Page 1</a></li>
                            <li><a href="#">Page 2</a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-envelope"></span>  Contact Us</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <li><a href="@Url.RouteUrl("login")"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        </ul>
                    }
                </div>
            </nav>

        </header>

    </div>

    <div class="container">

        <div class="row">

            @if (User.Identity.IsAuthenticated)
            {
                <div class="col-lg-8 content">
                    @RenderBody()
                </div>
                <div class="col-lg-4 sidebar">
                    @Html.Action("sidebar", "Layout")
                </div>
            }
            else
            {
                <div class="col-lg-12 content">
                    @RenderBody()
                </div>
            }

        </div>
        <footer> &copy; @DateTime.UtcNow.Year <small>Learn Togeter by : Gediminas Valevicius</small></footer>
    </div>

    @Scripts.Render("~/scripts")
    @RenderSection("Scripts", false)

</body>
</html>
