﻿@model LearnTogether.ViewModels.LayoutSidebar
@{
    Layout = null;
}
<div class="panel panel-success">
    <div class="panel-heading">About Me</div>
    <div class="panel-body">
        Here I am
    </div>
</div>
@if (Model.Tags.Any())
{
    var posttsIntag = Model.Tags.Max(x => x.PostCount);
    <div class="panel panel-info tags">
        <div class="panel-heading">Tags</div>
        <div class="panel-body">
            <div class="list-group">
                @foreach (var tag in Model.Tags)
                {
                    var percentage = Math.Ceiling((float)tag.PostCount / posttsIntag * 100);
                    <a href="@Url.RouteUrl("Tag", new {tag.Id, tag.Slug})" class="list-group-item">
                        <span class="name">@tag.Name</span>
                        <span class="badge">@tag.PostCount</span>
                        <span class="progress">
                            <span class="progress-bar progress-bar-info" style="width: @percentage%"></span>
                        </span>

                    </a>
                }
            </div>
        </div>
    </div>
}
@if (Model.IsLogedIn && (Model.IsAdmin || Model.IsModerator))
{
    <div class="panel panel-default">
        @if (Model.IsAdmin)
        {
            <div class="panel-heading">Administrator : @Model.Username !</div>
        }
        else
        {
            <div class="panel-heading">Moderator : @Model.Username !</div>
        }
        
        <div class="panel-body">
            <div class="btn-group btn-group-sm">
                <a href="@Url.Action("index", "posts", new {area = "admin"})" class="btn btn-default">Posts</a>
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="@Url.Action("new", "posts", new {area = "admin"})">New Post</a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
}