﻿@using System.Web.Optimization
@{
    Layout = null;
}
<!-- helper for setting tabs-->
@helper SelectedTabClass(string tabName)
{
    if (tabName != ViewBag.SelectedTab)
    {
        return;
    }
    @: active
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - LearnTogether</title>
    @Styles.Render("~/admin/styles")
</head>
<body>
    <div class="container">
        <ul class="nav nav-pills">
            <li class="@SelectedTabClass("posts")">
                @Html.ActionLink("Posts", "Index", "Posts", new { area = "Admin" }, new { })
            </li>
            <li class="@SelectedTabClass("users"))">
                @Html.ActionLink("Users", "Index", "Users", new { area = "Admin" }, new { })
            </li>
            <li class="pull-right">
                @Html.RouteLink("Back to home", "Home")
            </li>
        </ul>
        @RenderBody()
    </div>

    @Scripts.Render("~/admin/scripts")
    @RenderSection("Scripts", false)

    <form class="hidden" id="anti-forgery-form"> @Html.AntiForgeryToken()</form>

</body>
</html>
