﻿/** tags css ************/
.post-tag-editor .tag-select{
    list-style: none;
    padding: 0;
    margin: 10px 0;
}
.post-tag-editor .tag-select li{
    margin: 0;
    padding: 0;
    border-bottom: 1px dashed #eee;
}
    .post-tag-editor .tag-select li.template {
        display: none;
    }
.post-tag-editor .tag-select li a{
    display: block;
    padding: 2px 5px;
    border-left: 20px solid #eee;
}
.post-tag-editor .tag-select li a:hover{
    text-decoration: none;
    background:  #eee;
}
    .post-tag-editor .tag-select li.selected a {
        background: #d9edf7;
        border-left-color: #3a87ad;
    }
    /******* tags css ends ********/

    /*
 * Card component
 */


.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
    .card-container.card {
    max-width: 550px;
    padding: 40px 40px;
}
.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}