﻿body {
    background-color: darkgrey;
}

.content {
    background-color: whitesmoke;
    padding-bottom: 5px;
}

.site-header {
    background: #404040;
    color: #eee;
    margin-bottom: 20px;
}

    .site-header .page-header {
        border: none;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 10px;
    }

        .site-header .page-header small {
            color: #ddd;
            font-size: 16pt;
        }

    .site-header a {
        color: cornflowerblue;
        text-decoration: none;
    }

.post > h1 {
    font-size: 17pt;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    height: 40px;
    line-height: 40px;
}

.sidebar .tags .list-group {
    margin: 0;
}

    .sidebar .tags .list-group a {
        position: relative;
        background: transparent;
        border-radius: 0;
    }

        .sidebar .tags .list-group a .name {
            z-index: 2;
            position: relative;
        }

        .sidebar .tags .list-group a .badge {
            z-index: 5;
            position: relative;
        }

        .sidebar .tags .list-group a:hover {
            background: darkgrey;
        }

.sidebar .tags .progress-bar {
    background: #ddd;
    border: none;
    box-shadow: none;
}

.sidebar .tags .progress {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 6px;
    margin: 0;
    background: transparent;
}

.post {
    margin-bottom: 20px;
}

    .post footer {
        background: darkgrey;
        padding: 10px;
        overflow: hidden;
        font-size: 10pt;
        color: #dddddd;
    }

    .post .tags {
        margin: 0;
        margin-top: -1px;
    }

        .post .tags li {
            float: left;
            margin-right: 5px;
        }

p {
    text-align: justify;
}
    /*
 * Card component
 */


.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
    .card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}
.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}